body {
    font-family: Arial, sans-serif;
    background-color: #ff9900;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 90%; 
    box-sizing: border-box; 
}

input {
    width: 50px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #cc5200;
}

#resultado {
    font-weight: bold;
    margin-top: 10px;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

.dark-mode .container {
    background-color: #333;
    color: white;
}

@media (max-width: 600px) {
    input {
        width: 50%; 
        justify-content: center;
        align-items: center;
    }

    button {
        width: 80%;
        justify-content: center;
        align-self: center; 
    }

    .container {
        padding: 70px; 
    }

    .theme-toggle {
        font-size: 20px; 
    }
}

@media (max-width: 400px) {
    body {
        padding: 0px; 
    }

    input {
        width: 70%; 
    }

    button {
        padding: 10px; 
    }
}
